body{
    background-color: rgba(182, 180, 47, 0.858);
}
.new{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.container{
    width: 500px;
    height: 300px;
    
    margin-top: 60px;
    margin-left: 60px;
}
.container h4{
    font-size: 20px;
    color: black;
}
.container img{
    width: 100%;
    height: auto;
}
table, th, td {
    border:1px solid  rgba(182, 180, 47, 0.858);
    border-collapse: collapse;
    border-radius: 14px;
    border-width: 2.6px;
    margin-left: 250px;
    margin-top: 100px;
    text-align: center;
    font-family: Roboto;
    text-transform: capitalize;
}